#sign-up-btn{
    margin-right: 5px;   
}

#map-area{
    height: 500px;
}

.margin-top{
    margin-top: 10px;
}

.close-button, .close-button.medium {
    right: 0rem;
    top: -0.5rem;
}

#map{
    height:100%;
}

#historical-data{
    width:100%;
}

#favMap1, #favMap2, #favMap3, #favMap4{
    height:150px;
}

[type=text]{
    margin: 0px;
}

#searches{
    margin-bottom:0px;
}

.button{
    margin: 0px;
    border-radius: 10px;
    box-shadow: 3px 3px 7px 2px #0a0a0a4f;
}

.drop-shadow{
    box-shadow: 3px 3px 7px 2px #0a0a0a4f;
}

h1{
    text-shadow: 2px 2px 7px #0a0a0a7a;
    font-family: 'Changa','Josefin Slab',sans-serif;
    color: white;
}
h2{
    text-shadow: 2px 2px 7px #0a0a0a7a;
    font-family: 'Changa',sans-serif;
    color: white;
}

body{
    background-image: url(./cloudySky-v4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Changa',sans-serif;
}

.tt-menu {
    background-color: rgb(237, 247, 246, .7);
    padding: 5px;
    font-size:18px;
    letter-spacing: 1px;
}

#pollu {
    color: white;
    font-size: 60px;
}