#sign-up-btn{
    margin-right: 5px;   
}

#map-area{
    height: 500px;
}

#map{
    height:100%;
}

[type=text]{
    margin: 0px;
}

.button{
    margin: 0px;
}

h1{
    font-family: 'Rancho','Josefin Slab',sans-serif;
    color: whitesmoke;
}

body{
    background-image: url(../media/cloudySky.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.tt-menu {
    background-color: rgb(237, 247, 246, .7);
    padding: 5px;
    font-size:18px;
    letter-spacing: 1px;
}
